
/* 1 Task */
.stats-container div:first-child:before{
    content:"🔥" ;
    font-size: 30px;
}

/* 2 Task Evidenziare la terza card e cambiare colore font */


.stats-container div:nth-child(3){
    background: #6b6be3;
    background: linear-gradient(90deg, rgba(107, 107, 227, 1) 0%, rgba(158, 97, 237, 1) 100%);
}

.stats-container div:nth-child(3) span.stat-number {
    color: white;
}

.stats-container div:nth-child(3) div.stat-label {
    color: white;
}


/* 3 Task effetto Hover sulle stat cards */

.stats-grid:hover {
    position: relative; 
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} 

/* 4 Task Evidenziare il secondo piano di allenamento */

.workout-section article:nth-child(3){
    background-color: #f0f0bf;
    border-left: 5px solid chocolate;
}

/* 5 Task Bordi verdi per primo e ultimo esercizio */

div.exercise-item:first-child {
    background-color: #ceffcc;
    border-left: 5px solid #45f87bd0;
}

div.exercise-item:last-child {
    background-color: #ceffcc;
    border-left: 5px solid #45f87bd0;
}

/* 6 Icona fulmine negli esercizi pari */

div[style*="margin: 0 20px;"] div.exercise-item:nth-child(2)::before{
    content:"⚡" ;
}


div[style*="margin: 0 20px;"] div:nth-child(4)::before{
    content:"⚡" ;
}


/* 7-8 Focus sui campi input */

.goals-container input:focus-visible{
    outline: 1px solid rgb(88, 133, 255);
    box-shadow: 0 8px 16px 0 rgba(95, 131, 250, 0.2);
    transition: ease-in-out 0.5s;
}

.goals-container input:focus{
    border: 1px solid rgb(88, 133, 255);
    box-shadow: 0 8px 16px 0 rgba(95, 131, 250, 0.2);
    transition: ease-in-out 0.5s;
}


.goals-container select:focus{
    border: 1px solid rgb(88, 133, 255);
    box-shadow: 0 8px 16px 0 rgba(95, 131, 250, 0.2);
    transition: ease-in-out 0.5s;
}

.goals-container select:focus-visible{
    outline: 1px solid rgb(88, 133, 255);
    box-shadow: 0 8px 16px 0 rgba(95, 131, 250, 0.2);
    transition: ease-in-out 0.5s;
}

/* 9 Migliormaenti al button */

.save-btn:hover {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    position: relative; 
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(32, 17, 243, 0.418);
    transition-duration: 1s;
}


