
/* 1 Task */
.stats-container div:first-child:before{
    content:"🔥" ;
    font-size: 30px;
}

/* 2 Task Evidenziare la terza card e cambiare colore font */


.stats-container div:nth-child(3){
    background: #6b6be3;
    background: linear-gradient(90deg, rgba(107, 107, 227, 1) 0%, rgba(158, 97, 237, 1) 100%);
}

.stats-container div:nth-child(3) span.stat-number {
    color: white;
}

.stats-container div:nth-child(3) div.stat-label {
    color: white;
}


/* 3 Task effetto Hover sulle stat cards */

.stats-grid:hover {
    position: relative; 
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} 